@charset "utf-8";
/* CSS Document */
/* вход */
.backwhite{
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	background:rgba(255,255,255,0.3);
	position:absolute;
	width:100%;
	display:none;
}
.win_log{
	height:360px;
	background:rgb(244,230,211);
	width:280px;
	margin: 0 auto;
	margin-top:180px;
	  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.3);
}
.win_text{
	font-family:Cambria;
	color:#808080;
	font-size:30px;
	padding-top:10px;
	padding-bottom:15px;
}
.win_text:hover{color:#808080;}
.win_input{
	padding-left:20px;
	padding-right:20px;
}
.win_btn{
	width:100%;
	margin-top:9px;
	border-radius:7px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:18px;
}
.win_btn_sub{
	width:100%;
	margin-top:9px;
	border-radius:7px;
	background:rgb(138,30,30);
	color:white;
	font-family:Cambria;
	font-size:18px;
	padding-top:3px;
	padding-bottom:3px;
}
.win_btn_sub:hover{color:white;}
.win_t1{
	font-family:Cambria;
	font-size:14px;
	color:#801e20;
	float:left;
	margin-top:9px;
}
@media screen and (min-width: 10px){
.win_t2{
	font-family:Cambria;
	font-size:14px;
	color:#801e20;
	float:left;
	padding-left:25px;
	margin-top:9px;
}
}
@media screen and (min-width: 1000px){
.win_t2{
	font-family:Cambria;
	font-size:14px;
	color:#801e20;
	float:left;
	padding-left:55px;
	margin-top:9px;
}
}
.win_img{
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
}
.qz{border-radius:100px;}
.win_x{
	font-family:CommercialPi BT;
	font-size:24px;
	color:#801e20;
	margin-bottom:-30px;
	margin-right:10px;
}
#responseform{
padding-top:10px;
font-family:Cambria;
	font-size:14px;
	color:red;
}
/* регистриция */	
.reg_x{
	font-family:CommercialPi BT;
	font-size:24px;
	color:#801e20;
	margin-bottom: -30px;
	margin-right: 10px;
}
@media screen and (min-width: 10px){
.reg_t2{
	font-family:Cambria;
	font-size:14px;
	color:#801e20;
	float:left;
	padding-left:76px;
	margin-top:9px;
}
}
@media screen and (min-width: 1000px){
.reg_t2{
	font-family:Cambria;
	font-size:14px;
	color:#801e20;
	float:left;
	padding-left:106px;
	margin-top:9px;
}
}
/* восстановление пароля */
@media screen and (min-width: 10px){
.vost_t2{
	font-family:Cambria;
	font-size:14px;
	color:#801e20;
	float:left;
	padding-left:86px;
	margin-top:9px;
}
}
@media screen and (min-width: 1000px){
.vost_t2{
	font-family:Cambria;
	font-size:14px;
	color:#801e20;
	float:left;
	padding-left:116px;
	margin-top:9px;
}
}
.vost_x{
	font-family:CommercialPi BT;
	font-size:24px;
	color:#801e20;
	margin-top:110px;
	margin-left:260px;
}
	
	
	